/* geral */
html {
	font-family: 'Open Sans', sans-serif;
}

/* reset */
body {
	margin: 0;
	font-size: var(--body-2-font-size);
    font-weight: var(--default-font-weight);
    line-height: var(--body-2-line-height);
}

h3, h2, h4, h5, span {
	margin: 0;
	color: black;
    padding: 0;
}

p{
	color: black
}

h1{
	font-weight: 30px;
}

.container {
	max-width: 1920px;
	width: 100%;
}

/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

/* navbar */
nav { 
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #cbcfd1;
	border-bottom: 1px solid black;
 }

 nav:after {
 	clear: both;
 	content: "";
 	display: block;
 }

 .nav-container {
 	max-width: 1200px;
 	position: relative;
 	margin-right: auto;
 	margin-left: 60px; 	
 }

 #logo {
 	width: 100px;
 	height: 70px;
 	margin-top: 15px;
 }

 .nav-container ul {
	position: relative;
	float: right;
 	height: 100px;
 	line-height: 100px;
	margin: 0;
	right: 500px;
 }

 .nav-container li {
 	list-style: none;
 	float: left;
 	margin: 0 15px;
 }

 .nav-container li a {
 	text-decoration: none;
 	color: black;
 	transition: .5s;
 }

 .nav-container li a:hover {
 	color: #3381F3;
 }

/* banner  */
 #main-banner1 {
 	background-color: red;
 	background: url('../img/banner1.jpg') no-repeat;
 	background-size: cover;
 	background-position: 0 55%;
 	position: relative;
 	margin-top: 100px;
	height: 790px;
 }
 #main-banner2 {
	background-color: red;
	background: url('../img/banner2.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 100px;
   height: 790px;
}
#main-banner3 {
	background-color: red;
	background: url('../img/banner3.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 100px;
   height: 790px;
}

 #search-form {
 	position: relative;
 	width: 80%;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 15em;
 	padding-bottom: 15em;
 }

 #search-form h1 {
 	font-size: 40px;
 }

 #search-form p {
 	margin-top: -220px;
 	margin-bottom: 60px;
 	font-size: 18px;
 	font-weight: 2100px;
	margin-left: -100px;
 }

/* Formulario */
 #search-form input, #search-form select {
 	background-color: transparent;
 	border-radius: 6px;
 	border-color: white;
 	padding: 10px 20px;
 	font-size: 18px;
 	margin: 0 10px;
 }

#search-form input[type=submit] {
 	background-color: transparent;
 	text-transform: uppercase;
 	color: white;
 	cursor: pointer;
 	transition: 0.5s;
 }

 #search-form input[type=submit]:hover {
 	background-color: white;
 }

 .list{
	margin-left: -20px;
 }
 
footer{
	padding: 25px;
	text-align: auto;
}
footer span.copyright{
	font-size: 90%;
	line-height: 40px;
	text-transform: none;
	font-family: 'montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}